body {
    position: relative;
    background-color: #ACD6FF;
}

.wrap {
    width: 1000px;
    position: relative;
    margin: auto;
}

.block01 {
    box-sizing: border-box;
    background-color: #ECF5FF;
    width: 800px;
    height: 800px;
    position: absolute;
    border-radius: 400px;
    left: 100px;
    top: 80px;
    font-size: 20pt;
}

.introduction {
    position: absolute;
    text-align: center;
    left: 150px;
    top: 80px
}
