.wrap {
    background: yellow;
    position: absolute;
    width: 1460px;
    height: 800px;
    left: 0px;
    top: 0px;
}

.circle1 {
    background: #D94600;
    background-image: url("flash.png");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    left: 400px;
    bottom: 600px;
}

.title {
    color: yellow;
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 60px;
}

.circle2 {
    background: #844200;
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 125px;
    left: 300px;
    bottom: 350px;
}

.text {
    color: white;
    position: absolute;
    font-size: 14px;
    bottom: 60px;
    left: 25px;
}

.circle3 {
    background: white;
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 250px;
    left: 500px;
    bottom: 200px;
}

.introduction {
    color: #844200;
    text-align: center;
    position: absolute;
    left: 80px;
    bottom: 80px;
}

.circle4 {
    background: white;
    background-image: url("pika2.jpg");
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    left: 800px;
    bottom: 600px;
}

.circle5 {
    background: #844200;
    position: fixed;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    left: 1100px;
    bottom: 200px;
}

.fb {
    color: white;
    font-size: 12px;
    position: absolute;
    left: 10px;
    bottom: 35px;
}

.fb_image {
    position: absolute;
    left: 10px;
}

.circle6 {
    background: #D94600;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    left: 470px;
    bottom: -5px;
}

.by {
    color: yellow;
    font-size: 10px;
    position: absolute;
    bottom: 50px;
    left: 20px;
}
